body
{
    background-color: #e6e6e6;
    

    
}
h1
{
     font-family: 'Trebuchet MS', Arial, sans-serif;
     text-align: center;    
}
.tetris
{
  position: fixed; /* postulat de départ */
  left: 40%; /* à 50%/50% du parent référent */
}

.score{ 
}



.volume {
	vertical-align: bottom;
	display: inline-block;
	height: 25px;
	white-space: nowrap;
	position: relative;
	width: 45px;
}

.volume a {
	display: inline-block;
	background: black;
	width: 8px;
	vertical-align: bottom;
	margin-left: 0px;
	margin-right: 0px;
	cursor: pointer;
	border-left: 1px solid #fff;
	position: absolute;
	bottom: 0;	
}
.stick1 { height: 5px;  left: 0px; }
.stick2 { height: 10px; left: 9px; }
.stick3 { height: 15px; left: 18px; }
.stick4 { height: 20px; left: 27px; }
.stick5 { height: 25px; left: 36px; }
